:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --p-progressspinner-color-one: oklch(0.705 0.015 286.067) !important;
  --p-progressspinner-color-two: oklch(0.705 0.015 286.067) !important;
  --p-progressspinner-color-three: oklch(0.705 0.015 286.067) !important;
  --p-progressspinner-color-four: oklch(0.705 0.015 286.067) !important;
}

html, body {
  min-height: 100vh;
}

#app {
  height: 100vh;
}